@using Nexus_WebApplication.Models
@using Nexus.Core.Entities
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Marketing Activities
    </div>
    <div class="panel-body">
    @(Html.DevExtreme().Scheduler()
        .DataSource(ds => ds
            .OData()
            .Version(4)
            .Url("/odata/" + EntityUrlHelper.GetEntityUrlName("MarketingActivity"))
            .Key("Id")
        )
        .StartDateExpr("DateFrom")
        .EndDateExpr("DateTo")
        .TextExpr("Name")
        .Views(new SchedulerViewType[] {
            SchedulerViewType.Month
        })
        .CurrentView(SchedulerViewType.Month)
        .FirstDayOfWeek(FirstDayOfWeek.Monday)
        .OnAppointmentClick(@"function(elem1, elem2, elem3){ console.log(elem1, elem2, elem3); }")
        .Resources(res =>
        {
            res.Add()
                .FieldExpr("ClientId")
                .Label("Client")
                .DataSource(ds => ds
                    .OData()
                    .Version(4)
                    .Url("/odata/Clients")
                    .Key("Id"))
                .DisplayExpr("Name")
                .ValueExpr("Id");

            res.Add()
                .FieldExpr("ProductLinkId")
                .Label("ProductLink")
                .DataSource(ds => ds
                    .OData()
                    .Version(4)
                    .Url("/odata/ProductLinks")
                    .Key("Id"))
                .DisplayExpr("Id")
                .ValueExpr("Id");

            res.Add()
                .FieldExpr("Discount")
                .Label("Discount");

            res.Add()
                .FieldExpr("MarginPercent")
                .Label("MarginPercent");

            res.Add()
                .FieldExpr("PlanedSalesAmount")
                .Label("PlanedSalesAmount");
            
        })


    )
    </div>
</div>