<div class="panel panel-default">
    <div class="panel-body">
        <a class="btn btn-primary btn-block" href="/MarketingActivities/Index">Planning activities</a>
        <a class="btn btn-primary btn-block disabled" href="#">Planning sales</a>
        <a class="btn btn-primary btn-block disabled" href="#">Rules</a>
        <a class="btn btn-primary btn-block disabled" href="#">Reports</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Index">Dictionaries</a>
    </div>
</div>