@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-body">
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=ActivityStatus">Activity Status</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=ActivityType">Activity Status</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=BudgetType">Budget Types</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=MarketingActivityType">Marketing Activity Types</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=Client">Client</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=ProductBrand">Product Brand</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=ProductCategory">Product Category</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=ProductLine">Product Line</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=ProductLink">Product Link</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=ProductStockKeepingUnit">Product Stock Keeping Unit</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=Store">Store</a>
        <a class="btn btn-primary btn-block" href="/Dictionaries/Entities?entityName=StorePlace">Store Place</a>
    </div>
</div>
